<h1>Tasks</h1>

<%= link_to 'New Task', new_task_path %>

<table>
	<tr>
		<th>Name</th>
		<th>Effort</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @tasks.each do |task| %>
	<tr>
		<td><%= task.name %></td>
		<td><%= task.real_effort %> / <%= task.estimative_effort %> hours</td>
		<td><%= link_to 'Show', task_path(task) %></td>
		<td><%= link_to 'Edit', edit_task_path(task) %></td>
		<td><%= link_to 'Destroy', task_path(task), method: :delete %></td>
	</tr>
	<% end %>
</table>
