<h1>Task <%= @task.id %></h1>

<p>Name: <%= @task.name %></p>

<p>Description: <%= @task.description %></p>


<p>Effort: <%= @task.real_effort %> / <%= @task.estimative_effort %> hours</p>


<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'List Tasks', tasks_path %>
